In [3]:
#IMPORTING LIBRARY
import requests
import json
import pandas as pd

#AREA EXTENT COORDINATE WGS4
lon_min,lat_min=-125.974,30.038
lon_max,lat_max=-68.748,52.214

#REST API QUERY
user_name=''
password=''
url_data='https://'+user_name+':'+password+'@opensky-network.org/api/states/all?'+'lamin='+str(lat_min)+'&lomin='+str(lon_min)+'&lamax='+str(lat_max)+'&lomax='+str(lon_max)
response=requests.get(url_data).json()

#LOAD TO PANDAS DATAFRAME
col_name=['icao24','callsign','origin_country','time_position','last_contact','long','lat','baro_altitude','on_ground','velocity',       
'true_track','vertical_rate','sensors','geo_altitude','squawk','spi','position_source']
flight_df=pd.DataFrame(response['states'])
flight_df=flight_df.loc[:,0:16]
flight_df.columns=col_name
flight_df=flight_df.fillna('No Data')
flight_df.head(200)

,icao24,callsign,origin_country,time_position,last_contact,long,lat,baro_altitude,on_ground,velocity,true_track,vertical_rate,sensors,geo_altitude,squawk,spi,position_source
0,ac4963,DAL8894,United States,1699080604,1699080604,-73.7114,40.6998,259.08,False,60.80,212.21,-3.58,No Data,342.9,3525,False,0
1,aa9f3f,SWA2734,United States,1699080605,1699080605,-113.8414,36.6323,6819.9,False,204.53,234.83,-10.73,No Data,7155.18,No Data,False,0
2,ab63c2,CMD13,United States,1699080603,1699080604,-119.1506,35.7883,708.66,False,67.80,168.18,0.0,No Data,746.76,No Data,False,0
3,a808d7,ATN3498,United States,1699080605,1699080605,-94.4620,37.4346,11887.2,False,268.12,79.83,-0.33,No Data,12131.04,0775,False,0
4,c08412,CJT620,Canada,1699080605,1699080605,-71.0449,45.2013,10668.0,False,278.77,74.04,0.0,No Data,10553.7,2222,False,0
5,a2228b,ASA704,United States,1699080489,1699080495,-119.7692,39.5023,1242.06,False,52.47,180.00,-0.65,No Data,1318.26,No Data,False,0
6,a7bc8e,EJA598,United States,1699080604,1699080604,-96.5656,41.0134,12496.8,False,248.98,82.64,0.0,No Data,12611.1,No Data,False,0
7,a34e9d,DAL2482,United States,1699080604,1699080604,-102.7762,41.4303,10668.0,False,268.04,89.45,-0.33,No Data,10820.4,No Data,False,0
8,a3a538,FFT2004,United States,1699080322,1699080322,-105.4151,36.2254,11285.22,False,256.23,90.92,0.0,No Data,11696.7,No Data,False,0
9,ace6df,NKS698,United States,1699080604,1699080604,-108.3310,39.0713,11567.16,False,219.95,251.31,0.0,No Data,11940.54,No Data,False,0
10,0d0af0,VTM487,Mexico,1699080600,1699080605,-93.7173,33.4574,6385.56,False,138.43,38.36,0.98,No Data,6659.88,2543,False,0